@tailwind base;
@tailwind components;
@tailwind utilities;

/* Explicit base styles */
html,
body,
#root {
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
